!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
	%head
		%title Unique cake
		%script{:type => 'text/javascript', :src => "http://use.typekit.com/gar7vtm.js"}
		%script{:type => 'text/javascript'} try{Typekit.load(); google.load("jquery", "1.5.1");}catch(e){}
		%script{:type => 'text/javascript', :src => 'js/form.js'}
		%link{:type => 'text/css', :media => 'screen', :rel => 'stylesheet', :href => 'stylesheets/screen.css'}
	%body
		#wrapper
			#recipe
				%h1
					Fancy a
					%span{:class => 'highlighted'} unique
					cake?
				%div{:class => 'cleaner'} &nbsp;
				%h2 See the recipe!
				#cake
					%img{:src => 'images/cake.jpg', :alt => 'cake'}
				%h3 Main dough
				%ul
					%li 5 cups of Ruby; if you don't have it you can use... PHP, Java or C# *phew*
					%li 3 cups of Rails, or if you prefer, Sinatra
					%li 1 teaspoon of Cucumber
					%li 4 tablespoons of RSpec
					%li 3 oz of Git
				%h3 Filling
				%ul
					%li 1 oz of Agile user stories
					%li 1 tablespoon of TDD
					%li several shots of Agile mindset
					%li 1 cup of pair programming
					%li half a dozen innovation desires
					%li 5 oz of problem solving
				%h3 Icing
				%ul
					%li a pinch of Heroku
					%li 2 cups of enthusiasm
					%li 1 cup of Github
					%li 3 cups of curiosity
					%li a sprinkle of startup love
					%li 4-5 gems
					%li 1 cup of jQuery
					%li 1 cup of HTML
					%li 1 tablespoon of CSS
				%h3 Decorations
				%ul
					%li 1 Pomodoro Technique
					%li 1 Bundler
					%li 1 Bash
				%p{:class => 'instructions'} Preheat oven to 350. Spray cake pans with nonstick spray and line with parchment paper; spray parchment. Sift baking Rails, Ruby and Sinatra; set aside...
				%div{:class => 'request tk-fertigo-pro'}
					Mouth-watering?
					%br
					%a{:href => '#'} Request it
				%div{:class => 'producer'}
					%p
						Pastry produced by
						%a{:href => 'http://uk.linkedin.com/in/alessandrodalgrande', :target => '_blank'} Alessandro Dal Grande