!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
	%head
		%title Unique cake
		%script{:type => 'text/javascript', :src => "http://use.typekit.com/gar7vtm.js"}
		%script{:type => 'text/javascript'} try { Typekit.load(); } catch(e) {}
		%script{:type => 'text/javascript', :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"}
		%script{:type => 'text/javascript', :src => 'js/form.js'}
		%link{:type => 'text/css', :media => 'screen', :rel => 'stylesheet', :href => 'stylesheets/screen.css'}
	%body
		#wrapper
			- if @notice
				#notice
					%p Thanks. Your request for the cake was sent. You will receive an answer very soon.
					%p OH, do you smell this perfume? Seems it's already in the oven.
			#recipe
				%h1
					Fancy a
					%span{:class => 'highlighted'} unique
					cake?
				%div{:class => 'cleaner'} &nbsp;
				%h2 See the recipe!
				#cake
					%img{:src => 'images/cake.jpg', :alt => 'cake'}
				%h3 Main dough
				%ul
					%li 5 cups of Ruby; if you don't have it you can use... PHP, Java or C# *phew*
					%li 3 cups of Rails, or if you prefer, Sinatra
					%li 1 teaspoon of Cucumber
					%li 4 tablespoons of RSpec
					%li 3 oz of Git
				%h3 Filling
				%ul
					%li 1 oz of Agile user stories
					%li 1 tablespoon of TDD
					%li several shots of Agile mindset
					%li 1 cup of pair programming
					%li half a dozen innovation desires
					%li 5 oz of problem solving
				%h3 Icing
				%ul
					%li a pinch of Heroku
					%li 2 cups of enthusiasm
					%li 1 cup of Github
					%li 3 cups of curiosity
					%li a sprinkle of startup love
					%li 4-5 gems
					%li 1 cup of jQuery
					%li 1 cup of HTML
					%li 1 tablespoon of CSS
				%h3 Decorations
				%ul
					%li 1 Pomodoro Technique
					%li 1 Bundler
					%li 1 Bash
				%p{:class => 'instructions'} Preheat oven to 350. Spray cake pans with nonstick spray and line with parchment paper; spray parchment. Sift baking Rails, Ruby and Sinatra; set aside...
				%div{:class => 'request tk-fertigo-pro'}
					Mouth-watering?
					%br
					%a{:href => '#'} Request it
					%div{:id => 'request'}
						%form{:action => '/request_cake', :method => 'post'}
							%p{:class => 'email'}
								%label{:for => 'email'} Your email address
								%br
								%input{:type => 'text', :name => 'email', :id => 'email'}
							%p{:class => 'why'}
								%label{:for => 'why'} Why you want the cake
								%br
								%textarea{:name => 'why', :id => 'why', :rows => '40', :cols => '60'}
							%input{:type => 'submit', :value => 'Want. That. CAKE.'}
				%div{:class => 'producer'}
					%p
						Pastry produced by
						%a{:href => 'http://uk.linkedin.com/in/alessandrodalgrande', :target => '_blank'} Alessandro Dal Grande
						The cake taste is best when accompanied with this
						%a{:href => 'http://dandemeyere.squarespace.com/blog/2011/2/28/working-for-a-start-up-expectations.html', :target => '_blank'} drink
						in the course.
		%a{:href => "http://github.com/aledalgrande/fancy-a-cake"}
			%img{:style => "position: absolute; top: 0; right: 0; border: 0;", :src => "https://assets0.github.com/img/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf?repo=&url=http%3A%2F%2Fs3.amazonaws.com%2Fgithub%2Fribbons%2Fforkme_right_red_aa0000.png&path=", :alt => "Fork me on GitHub"}
		- if ENV['RACK_ENV'].eql?('production')
			%script{:type => 'text/javascript', :src => 'js/ga.js'}