/* reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0; padding: 0; border: 0; vertical-align: baseline; line-height: inherit;
}

body {
	width: 100%;
	height: 100%;
	background-color: #f8f8f8;
}
li {
	font-size: 18px;
}
h1 {
	font-size: 52px;
	float: left;
}
h3 {
	margin-top: 20px;
	color: red;
}
ul {
	list-style-position: inside;
	margin-left: 3px;
	list-style-type: square;
}
form p label, form p input, form input {
	font-size: 20px;
	padding: 3px;
	margin: 5px;
}
#wrapper {
	width: 800px;
	margin: auto;
	height: 100%;
	margin-top: 10px;
}
#cake {
	float: right;
}
#notice {
	border: 2px solid red;
	text-align: center;
	margin-bottom: 20px;
	background-color: white;
}
.cleaner {
	clear: both;
	font-size: 1px;
}
.highlighted {
	color: red;
}
.instructions {
	font-size: 15px;
	line-height: 18px;
	margin-top: 40px;
}
.request {
	margin-top: 40px;
	font-size: 30px;
}
.request a{
	color: red;
	font-size: 50px;
}
.producer {
	margin-top: 50px;
}
.producer p {
	font-size: 13px;
}
.producer p a {
	color: black;
}